.App {
  text-align: center;
  background-color: #3e5e73;
  width: 100vw;
  height: 110vh;

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Header {
  color: white;
  font-size: 55px;
  margin-top: auto;
}

.Score {
  color: white;
}

.Decrease {
  background-color: #f2928b;
}

.Increase {
  background-color: #6191b5;
}

.Reset {
  background-color: #e83738;
}

button {
font-weight: bolder;
width: 150px;
height: 40px;
background-color: #ead27a;
border-radius: 5px;
cursor: pointer;
font-size: medium;

}

.Play{
  color:#ead27a;
}

.que{
  width:40%;
  height: 40px;
  background-color: #1b2650;
  color: white;
  font-size: x-large;
}